# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# 4.0 useParams 내가 URL에서 관심 있어 하는 정보를 잡아낼 수 있게 해준다

# 4.1 스타일 컴포넌트를 만들 때 스타일 컴포넌트는 고립됐다 이걸 위한 property를 가지고 있다
# createGlobalStyle라고 부른다 이건 한 컴포넌트를 만들 수 있게 해주는데 렌더링 될 때, 그 컴포넌트는 전역 스코프에 스타일들을 올려준다
# 고립되지 않고 글로벌로 된다
# Fragment라고 부르는 어떤 걸 출시했다 <></> 우리에게 부모 없이 서로 붙어 있는 많은 것들을 리턴할 수 있게 해준다